<%# frozen_string_literal: true %>
<%% content_for :title do %>
  <%%= @title_page %>
<%% end %>
<%%= simple_form_for(@<%= singular_table_name %>, remote: request.xhr?, html: { data: {modal: true}}) do |f| %>
  <%% if f.object.errors.any? %>
    <%%= get_alert_error(f.object.errors.full_messages) %>
  <%% end %>

  <div class="form-group">
  <%- attributes.each do |attribute| -%>
    <% if attribute.name != "user_id" %>
      <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, class: "form-control" %>
    <% end %>
  <%- end -%>
  </div>

  <div class="actions">
    <%%= f.button :submit, class: "btn btn-primary" %>
  </div>
<%% end %>
