.alert-danger, .alert-danger-item {
  background-color: #f1b0b7 !important;
  color: #721c24;
}

.alert-danger-item {
  border: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

.login-brand {
  margin-bottom: 20px;
}

.row-login {
  margin-top: -50px;
}

.simple-footer {
  margin-bottom: 0px;
  background-color: #007bff;
  color: white;
}
